.content {
    margin-top: 6rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
}



.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 6rem;
    background-color: rgba(196, 196, 196, 0.42);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    /* backdrop-filter: blur(5px); */
    /* -webkit-backdrop-filter: blur(5px); */
    border-radius: 10px 10px 0 0;
    font-weight: 600;
}


.button {
    color: rgb(54, 54, 54);

}

.selected {
    color: rgb(255, 166, 0);
}

.button:after {
    content: '';
    width: 0px;
    height: 2px;
    display: block;
    background: black;
    transition: .5s cubic-bezier(0.65, 0, 0.35, 1) 0s;
}
  
.button:hover:after {
    width: 100%;
}

.selected:after {
    content: '';
    width: 100%;
    height: 2px;
    display: block;
    background: orange;
    transition: .5s cubic-bezier(0.65, 0, 0.35, 1) 0s;
}
  
.selected:hover:after {
    width: 0px;
}

.boxes {
    position: relative;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 12.8rem;
    height: 12.8rem;
    
    margin: 0.6rem;
    /* margin: 5px; */
    border-radius: 12px;
    background-color: rgba(196, 196, 196, 0.42);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.bgt {
    font-size: 7rem;
    font-weight: 600;
}

.smt {
    font-weight: 800;
    font-size: .8rem;
    /* text-transform: uppercase; */
    color: rgba(54, 54, 54, 0.712);
    position: absolute;
    bottom: 0;
    margin-bottom: 1rem;
}

  
  .progress-bar__value {
    transition: stroke-dashoffset 1s linear;
    stroke-linecap: round;
    transform: rotate(-90deg) translateX(-100%);
  }
  
  .circle {
    position: absolute;
    color: aqua;
    font-size: 2rem;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    font-weight: 700;
  }

  .progress-bar__background {
    stroke: rgba(204, 205, 206, 0.705);
  }


  .top {
    position: absolute;
    top: 0;
  }


  /* LIST */

  .list {
    display: flex;
    align-items: center;
    margin-top: 8rem;
    padding: 1rem;
    width: 90%;
    
    /* max-height: 70vh; */
    overflow-y: scroll;
    background-color: rgba(196, 196, 196, 0.42);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

    border-radius: 16px;
  }

  .listcontents {

    width: 100%;
    max-height: 70vh;
    overflow-y: scroll;
    display: flex;
    overflow-x: hidden;
    flex-direction: column;
    align-items: center;
    margin: 0.5rem;
  }

  .vehicle {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0.8rem;
    margin: 0.5rem;
    position: relative;

    background-color: rgba(138, 138, 138, 0.42);
    border-radius: 12px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
    /* backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px); */
  }

  .online {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  button {
    outline: none;
    border: none;
    background: none;
  }

  .remaining {
    margin-right: 2rem;
  }


  .openmenu {
    font-size: 20px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
    top: 0.5rem;
    margin-right: 0.6rem;
  }

  .extra {
    position: relative;
    margin-top: 0.4rem;
    display: flex;
    flex-wrap: wrap;
  }

  .circlecenter {
    position: absolute;
    top: 0;
    font-weight: 700;
    font-size: 25px;
    margin-left: 1.9rem;
    margin-top: 2.5rem;
  }